* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

html {
    height: 100%;
}

body {
    background:#e0e0e0;
    margin: 0;
    height: 100%;
}

p {
    margin: 0;
}

#app {
    height: 100%;
}

#direction {
    background: #FD8469;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60%;
}

#details {
    padding: 1rem .4rem;
}

.card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .8rem 1rem;
    margin: 0 auto;
    max-width: 600px;
    width: 100%;
    background: #fff;
    box-shadow: 1px 1px 16px #ccc;
}

.direction__container {
    max-width: 600px;
    width: 100%;
}

.direction__title {
    color: #fff;
    text-align: center;
    font-weight: 400;
    font-size: 1.8rem;
}

.direction__options {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.direction__icon {
    border-radius: 50%;
    box-shadow: .1rem .1rem .6rem rgba(0, 0, 0, 0.4);
    cursor: pointer;
    transition: all .3s ease-in-out;
    transform-origin: center;
}

.direction__icon:hover {
    transform: scale(1.1);
    box-shadow: .15rem .15rem .8rem rgba(0, 0, 0, 0.3);
}

.direction__button {
    margin: 1rem auto 0 auto;
    display: block;
    background: #009688;
    color: #fff;
    border-radius: .9rem;
    padding: .4rem .9rem;
    cursor: pointer;
}

.circle {
    background: #ccc;
    height: 40px;
    width: 40px;
    border-radius: 50%;
}