* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background:#e0e0e0;
    margin: 0;
}

p {
    margin: 0;
}

#direction {
    background: #1e88e5;
    height: 60vh;
}

#details {
    padding: 1rem .4rem;
}

.card {
    padding: .8rem 1rem;
    margin: 0 auto;
    max-width: 800px;
    width: 100%;
    background: #fff;
    box-shadow: 1px 1px 16px #ccc;
}